@page "/reservation/create/{id:int}"
@inject HttpClient _client
@inject IJSRuntime js
@inject NavigationManager Navigation
@attribute [Authorize]
@if (restaurant != null)
{
	<div class="container">
		<div class="text-center">
			<img src="images/appIcon.png">
		</div>
		<EditForm Model="@restaurant" OnValidSubmit="CreateReservation">
			<DataAnnotationsValidator />
			<ValidationSummary />
			<div class="row">
				<div class="col-md-6 form-group">
					<label>No. of guests</label>
					<div>
						<InputNumber @bind-Value="@reservation.Guest" class="form-control" />
						<ValidationMessage For="@(() => reservation.Guest)" />
					</div>
				</div>
				<div class="col-md-6 form-group">
					<label>Reservation Date</label>
					<div>
						<InputDate Type="InputDateType.DateTimeLocal" min="@DateTime.Today.ToString("yyyy-MM-ddTHH:mm")" @bind-Value="reservation.DateTime" class="form-control" />
						<ValidationMessage For="@(() => reservation.DateTime)" />
					</div>
				</div>
				<div class="col-md-6 form-group">
					<label>Special Request</label>
					<div>
						<InputText @bind-Value="@reservation.Request" class="form-control" />
						<ValidationMessage For="@(() => reservation.Request)" />
					</div>
				</div>
			</div>
			</EditForm>
		<div class="col-md-6 form-group">
			<label>Promo Code</label>
			<div class="input-group">
				<input type="text" @bind="code" class="form-control" placeholder="Promo code">
				<button @onclick="VerifyCode" class="btn btn-secondary">Redeem</button>
			</div>
		</div>
			<br />
			<hr>
			<div class="row">
				<button class="btn btn-outline-dark btn-block col-md-2"><span class="oi oi-arrow-left"></span> Back</button>
				<button type="submit" class="btn btn-secondary btn-block col-md-9">Submit Reservation</button>
			</div>
	</div>
}
@code {
	private Restaurant? restaurant;
	private List<Restaurant>? Restaurants;
	[Parameter]
	public int id { get; set; }
	Reservation reservation = new Reservation();
	private string? code;
	protected async override Task OnInitializedAsync()
	{
		Restaurants = await _client.GetFromJsonAsync<List<Restaurant>>($"{Endpoints.RestaurantsEndpoint}");
		if (Restaurants != null)
		{
			restaurant = Restaurants.First(q => q.Id == id);
		}
	}

	async Task CreateReservation()
	{
		reservation.RestaurantId = id;
		await _client.PostAsJsonAsync($"{Endpoints.ReservationsEndpoint}", reservation);
		await js.InvokeVoidAsync("alert", "Reservation Created! Please check reservation details under Reservation History");
		Navigation.NavigateTo("/reservationhistory");
	}

	private void VerifyCode()
	{
		// if (code == restaurant.PromoCode)
		// {
		// 	reservation.PromoCode = code;
		// 	Navigation.NavigateTo("/reservationhistory");
		// }
		// else
		// {
		// 	js.InvokeVoidAsync("alert", "Invalid Promo Code");
		// }
	}
}
