@page "/reservations/edit/{id:int}"
@inject HttpClient _client
@inject NavigationManager navigation
@inject IJSRuntime js

<div class="container">
	@if (reservation != null && address != null)
	{
		<div>
			<div class="card mb-2 shadow-sm">
				<div class="card-body d-flex">
					<div>
						<h1><b>@reservation.Restaurant?.Name</b></h1>
						<img src="@reservation.Restaurant.ImagePath"/>
					</div>
					<div class="card mb-2 shadow-sm flex-grow-1 p-2 ps-4 m-4 grey">
						<h3>Address</h3>
						<p>Street: @address.Street</p>
						<p>Unit: @address.UnitNumber</p>
						<p>Building: @address.Building</p>
						<p>Postal Code: @address.PostalCode</p>
						@if (promo != null)
						{
							<p>Promotion: <b>@promo.Discount%</b> Discount</p>
						}
						else
						{
							<p>Promotion: None</p>
						}
					</div>
				</div>
			</div>
		</div>
	}
	<hr class="my-4" />
	<EditForm Model="@reservation" OnValidSubmit="UpdateReservation">
		<DataAnnotationsValidator />
		<ValidationSummary />
		<div class="row">
			<div class="col-md-6 form-group">
				<label>Reservation Date</label>
				<div>
					<InputDate min="@DateTime.Today.ToString("yyyy-MM-dd")" @bind-Value="reservation.Date" class="form-control" />
					<ValidationMessage For="@(() => reservation.Date)" />
				</div>
			</div>
			<div class="col-md-6 form-group">
				<label>Reservation Time</label>
				<div>
					<InputDate Type="InputDateType.Time" min="@reshour?.OpeningTime?.ToString("HH:mm")" max="@reshour?.ClosingTime?.AddMinutes(-45).ToString("HH:mm")" @bind-Value="reservation.Time" class="form-control" />
					<ValidationMessage For="@(() => reservation.Time)" />
				</div>
			</div>
			<div class="col-md-6 form-group">
				<label>No. of guests</label>
				<div>
					<InputNumber min="1" max="30" @bind-Value="@reservation.Guest" class="form-control" />
					<ValidationMessage For="@(() => reservation.Guest)" />
				</div>
			</div>
			<div class="col-md-6 form-group">
				<label>Special Request</label>
				<div>
					<InputText @bind-Value="@reservation.Request" class="form-control" />
					<ValidationMessage For="@(() => reservation.Request)" />
				</div>
			</div>
			<hr class="my-4" />
			<button type="submit" class="btn btn-secondary btn-block mt-3">Update</button>
		</div>
	</EditForm>
</div>

@code {
	Reservation reservation = new Reservation();
	private Address? address;
	private List<Address>? Addresses;
	private List<Reservation>? Reservations;
	private OperatingHour? reshour;
	private List<OperatingHour>? OperatingHours;
	private List<OperatingHour>? ResOperatingHours;
	private List<Promotion>? Promos;
	private Promotion? promo;
	[Parameter]
	public int id { get; set; }
	protected override async Task OnParametersSetAsync()
	{
		Reservations = await _client.GetFromJsonAsync<List<Reservation>>($"{Endpoints.ReservationsEndpoint}");
		Addresses = await _client.GetFromJsonAsync<List<Address>>($"{Endpoints.AddressesEndpoint}");
		OperatingHours = await _client.GetFromJsonAsync<List<OperatingHour>>($"{Endpoints.OperatingHoursEndpoint}");
		Promos = await _client.GetFromJsonAsync<List<Promotion>>($"{Endpoints.PromotionsEndpoint}");
		if (Reservations != null && Addresses != null && OperatingHours != null)
		{
			reservation = Reservations.First(q => q.Id == id);
			address = Addresses.First(x => x.Id == reservation.Restaurant?.AddressId);
			promo = Promos.FirstOrDefault(x => x.Id == reservation.PromotionId);
			ResOperatingHours = OperatingHours.Where(x => x.RestaurantId == id).ToList();
			reshour = OperatingHours.First(x => x.RestaurantId == reservation.RestaurantId && x.Day == reservation.Date.DayOfWeek.ToString());

		}
	}

	async Task UpdateReservation()
	{
		if (!ValidateDate(reservation.Date))
		{
			return;
		}
		await _client.PutAsJsonAsync($"{Endpoints.ReservationsEndpoint}/{id}", reservation);
		await js.InvokeVoidAsync("alert", "Reservation updated!");
		navigation.NavigateTo("/reservations");
	}
	private bool ValidateDate(DateTime date)
	{
		if (!ResOperatingHours.Any(x => x.Day == date.DayOfWeek.ToString()))
		{
			js.InvokeVoidAsync("alert", $"Restaurant is closed on {date.DayOfWeek.ToString()}!");
			return false;
		}
		return true;
	}
}
