@page "/restaurantapplication/create"
@inject HttpClient _client
@inject NavigationManager _navManager


<div class="restaurant-form">

    <EditForm Model="@restaurantapplication" OnValidSubmit="CreateRestaurantApplication">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="focus"></div>

        <div class="row justify-content-center">
            <h2 class="text-center">Tell us more about your restaurant!</h2>
        </div>

        <div class="row justify-content-center">
            
            <div class="mb-3 col-md-3 form-group">
                <label class="white-color">Restaurant Name:</label>
                <div>
                    <InputText @bind-Value="@restaurantapplication.RestaurantName" class="form-control" placeholder="Restaurant Name" />
                    <ValidationMessage For="@(() => restaurantapplication.RestaurantName)" />
                </div>
            </div>
            <div class="mb-3 col-md-3 form-group">
                <label class="white-color">Email: </label>
                <div>
                    <InputText @bind-Value="@restaurantapplication.Email" class="form-control" placeholder="Email" />
                    <ValidationMessage For="@(() => restaurantapplication.Email)" />
                </div>
            </div>
            <div class="mb-3 col-md-3 form-group">
                <label class="white-color">Cuisine:</label>
                <div>
                    <InputText @bind-Value="@restaurantapplication.Cuisine" class="form-control" placeholder="Cuisine eg.Chinese/Korea" />
                    <ValidationMessage For="@(() => restaurantapplication.Cuisine)" />
                </div>
            </div>
            <div class="mb-3 col-md-3 form-group">
                <label class="white-color">Category:</label>
                <div>
                    <InputText @bind-Value="@restaurantapplication.Category" class="form-control" placeholder="Category eg.Hotpot/BBQ" />
                    <ValidationMessage For="@(() => restaurantapplication.Category)" />
                </div>
            </div>
            <div class="mb-3 col-md-4 form-group">
                <label class="white-color">Location:</label>
                <div>
                    <InputSelect @bind-Value="@restaurantapplication.Location" class="form-control">
                        <option value="">-- Select Location --</option>
                        @foreach (var location in locationSelections)
                        {
                            <option>@location</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="@(() => restaurantapplication.Location)" />

                </div>
            </div>

            <div class="mb-3 col-md-4 form-group">
                <label class="white-color">Phone Number: </label>
                <div>
                    <InputNumber @bind-Value="@restaurantapplication.PhoneNumber" class="form-control" placeholder="Phone Number : XXXXXXXX" />
                    <ValidationMessage For="@(() => restaurantapplication.PhoneNumber)" />
                </div>
            </div>
            <div class="mb-3 col-md-4 form-group">
                <label class="white-color">Upload Your Restaurant Image:</label>
                <div>
                    <div class="mb-3 col-md-3 form-group">
                        <InputFile OnChange="OnFileChangeForRAImage" style="color:white" />
                    </div>
                </div>
            </div>
            <div class="mb-3 col-md-d form-group">
                <label class="white-color">Description:</label>
                <div>
                    <InputText @bind-Value="@restaurantapplication.Description" class="form-control" placeholder="Describe your restaurant" />
                    <ValidationMessage For="@(() => restaurantapplication.Description)" />
                </div>
            </div>
            <div class="mb-3 col-md-d form-group">
                <div>
                    <img src="@restaurantapplication.ImagePath" width="500" />
                </div>
            </div>

        </div>

        <div class="row justify-content-center">
            <h2 class="text-center">Restaurant Address</h2>
        </div>
        <div class="row justify-content-center">
            <div class="mb-3 col-md-6 form-group">
                <label class="white-color">Street Name:</label>
                <div>
                    <InputText @bind-Value="@newaddress.Street" class="form-control" placeholder="Street Name: eg. 2 Tampines Central 5" />
                    <ValidationMessage For="@(() => newaddress.Street)" />
                </div>
            </div>
            <div class="mb-3 col-md-6 form-group">
                <label class="white-color">Building Name:</label>
                <div>
                    <InputText @bind-Value="@newaddress.Building" class="form-control" placeholder="Building: eg. Century Square" />
                    <ValidationMessage For="@(() => newaddress.Building)" />
                </div>
            </div>
            <div class="mb-3 col-md-6 form-group">
                <label class="white-color">Level:</label>
                <div>
                    <InputNumber @bind-Value="@newaddress.Level" class="form-control" placeholder="Level: eg. 1" />
                    <ValidationMessage For="@(() => newaddress.Level)" />
                </div>
            </div>
            <div class="mb-3 col-md-6 form-group">
                <label class="white-color">Unit Number:</label>
                <div>
                    <InputText @bind-Value="@newaddress.UnitNumber" class="form-control" placeholder="Unit Number: eg. #02-22" />
                    <ValidationMessage For="@(() => newaddress.UnitNumber)" />
                </div>
            </div>
            <div class="mb-3 col-md-6 form-group">
                <label class="white-color">Postal Code:</label>
                <div>
                    <InputNumber @bind-Value="@newaddress.PostalCode" class="form-control" placeholder="Postal Code: eg. 529509" />
                    <ValidationMessage For="@(() => newaddress.PostalCode)" />
                </div>
            </div>
        </div>


        <div class="row justify-content-center">
            <h2 class="text-center">Menu</h2>
        </div>
        <div class="row justify-content-center">
            
            <div class="mb-3 col-md-3 form-group">
                <label class="white-color">Upload Your Menu Image</label>
                <div>
                    <InputFile OnChange="OnFileChangeForMenuImage" style="color:white"/>
                </div>
                
            </div>
        </div>

        

        <div class="row justify-content-center">
            <h2 class="text-center">Pick a subscription!</h2>
        </div>
        <div class="row row-cols-md-3 mb-3 text-center">
            <InputRadioGroup @bind-Value="@subscribe.PlatformFee" class="form-control">
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Normal</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">$10<small class="text-body-secondary fw-light">/mo</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Email support</li>
                            <li>Help center access</li>
                            <li>-</li>
                            <li>-</li>
                        </ul>
                        <InputRadio Value="10" />
                        <label class="text-black" for="normalPlan">Choose Plan</label>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Pro</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">$15<small class="text-body-secondary fw-light">/mo</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Customised support</li>
                            <li>Priority email support</li>
                            <li>Help center access</li>
                            <li>-</li>
                        </ul>
                        <InputRadio Value="15" />
                        <label class="text-black" for="proPlan">Choose Plan</label>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3 ">
                        <h4 class="my-0 fw-normal">Enterprise</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">$20<small class="text-body-secondary fw-light">/mo</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Dashboard</li>
                            <li>Speedy reply</li>
                            <li>Phone and email support</li>
                            <li>Help center access</li>
                        </ul>
                        <InputRadio Value="20" />
                        <label class="text-black" for="enterprisePlan">Choose Plan</label>
                    </div>
                </div>
            </div>
            </InputRadioGroup>
            <ValidationMessage For="@(() => subscribe.PlatformFee)" />
        </div>

        <div class="row justify-content-center">
            <h2 class="text-center">On days when the restaurant is closed, the opening and closing times should be identical.</h2>
        </div>

        <div class="row justify-content-center">
            <div class="row mb-3">
                <div class="col-md-6 form-group">
                    <label class="white-color">Monday Opening Time:</label>
                    <InputDate Type="InputDateType.Time" min="@DateTime.Today.ToString("yyyy-MM-dd")" @bind-Value="@monday.OpeningTime" class="form-control" />
                    <ValidationMessage For="@(() => monday.OpeningTime)" />

                </div>
                <div class="col-md-6 form-group">
                    <label class="white-color">Monday Closing Time:</label>
                    <InputDate Type="InputDateType.Time" min="@DateTime.Today.ToString("yyyy-MM-dd")" @bind-Value="@monday.ClosingTime" class="form-control" />
                    <ValidationMessage For="@(() => monday.ClosingTime)" />

                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6 form-group">
                    <label class="white-color">Tuesday Opening Time:</label>
                    <InputDate Type="InputDateType.Time" min="@DateTime.Today.ToString("yyyy-MM-dd")" @bind-Value="@tuesday.OpeningTime" class="form-control" />
                    <ValidationMessage For="@(() => tuesday.OpeningTime)" />

                </div>
                <div class="col-md-6 form-group">
                    <label class="white-color">Tuesday Closing Time:</label>
                    <InputDate Type="InputDateType.Time" min="@DateTime.Today.ToString("yyyy-MM-dd")" @bind-Value="@tuesday.ClosingTime" class="form-control" />
                    <ValidationMessage For="@(() => tuesday.ClosingTime)" />

                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6 form-group">
                    <label class="white-color">Wednesday Opening Time:</label>
                    <InputDate Type="InputDateType.Time" min="@DateTime.Today.ToString("yyyy-MM-dd")" @bind-Value="@wednesday.OpeningTime" class="form-control" />
                    <ValidationMessage For="@(() => wednesday.OpeningTime)" />

                </div>
                <div class="col-md-6 form-group">
                    <label class="white-color">Wednesday Closing Time:</label>
                    <InputDate Type="InputDateType.Time" min="@DateTime.Today.ToString("yyyy-MM-dd")" @bind-Value="@wednesday.ClosingTime" class="form-control" />
                    <ValidationMessage For="@(() => wednesday.ClosingTime)" />

                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6 form-group">
                    <label class="white-color">Thursday Opening Time:</label>
                    <InputDate Type="InputDateType.Time" min="@DateTime.Today.ToString("yyyy-MM-dd")" @bind-Value="@thursday.OpeningTime" class="form-control" />
                    <ValidationMessage For="@(() => thursday.OpeningTime)" />

                </div>
                <div class="col-md-6 form-group">
                    <label class="white-color">Thursday Closing Time:</label>
                    <InputDate Type="InputDateType.Time" min="@DateTime.Today.ToString("yyyy-MM-dd")" @bind-Value="@thursday.ClosingTime" class="form-control" />
                    <ValidationMessage For="@(() => thursday.ClosingTime)" />

                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6 form-group">
                    <label class="white-color">Friday Opening Time:</label>
                    <InputDate Type="InputDateType.Time" min="@DateTime.Today.ToString("yyyy-MM-dd")" @bind-Value="@friday.OpeningTime" class="form-control" />
                    <ValidationMessage For="@(() => friday.OpeningTime)" />

                </div>
                <div class="col-md-6 form-group">
                    <label class="white-color">Friday Closing Time:</label>
                    <InputDate Type="InputDateType.Time" min="@DateTime.Today.ToString("yyyy-MM-dd")" @bind-Value="@friday.ClosingTime" class="form-control" />
                    <ValidationMessage For="@(() => friday.ClosingTime)" />

                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6 form-group">
                    <label class="white-color">Saturday Opening Time:</label>
                    <InputDate Type="InputDateType.Time" min="@DateTime.Today.ToString("yyyy-MM-dd")" @bind-Value="@saturday.OpeningTime" class="form-control" />
                    <ValidationMessage For="@(() => saturday.OpeningTime)" />

                </div>
                <div class="col-md-6 form-group">
                    <label class="white-color">Saturday Closing Time:</label>
                    <InputDate Type="InputDateType.Time" min="@DateTime.Today.ToString("yyyy-MM-dd")" @bind-Value="@saturday.ClosingTime" class="form-control" />
                    <ValidationMessage For="@(() => saturday.ClosingTime)" />

                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6 form-group">
                    <label class="white-color">Sunday Opening Time:</label>
                    <InputDate Type="InputDateType.Time" min="@DateTime.Today.ToString("yyyy-MM-dd")" @bind-Value="@sunday.OpeningTime" class="form-control" />
                    <ValidationMessage For="@(() => sunday.OpeningTime)" />

                </div>
                <div class="col-md-6 form-group">
                    <label class="white-color">Sunday Closing Time:</label>
                    <InputDate Type="InputDateType.Time" min="@DateTime.Today.ToString("yyyy-MM-dd")" @bind-Value="@sunday.ClosingTime" class="form-control" />
                    <ValidationMessage For="@(() => sunday.ClosingTime)" />

                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-auto py-2">
                <button style="width:712.5px" type="submit" class="btn btn-primary btn-block">Submit Application</button>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-auto py-2">
                <a style="width:712.5px" class="btn btn-secondary btn-block" href="/">Back</a>
            </div>
        </div>

    </EditForm>



    <img src="images/form.jpg" />

</div>

@code {
    RestaurantApplication restaurantapplication = new RestaurantApplication(); //done
    Address newaddress = new Address(); //created
    Menu newMenu = new Menu(); //created

    Subscription subscribe = new Subscription(); 

    OperatingHour monday = new OperatingHour();
    OperatingHour tuesday = new OperatingHour();
    OperatingHour wednesday = new OperatingHour();
    OperatingHour thursday = new OperatingHour();
    OperatingHour friday = new OperatingHour();
    OperatingHour saturday = new OperatingHour();
    OperatingHour sunday = new OperatingHour();

    private List<Address>? address;
    private List<Menu>? menu;
    private List<Subscription>? subscription;
    private List<OperatingHour>? operatinghour;

    List<int> SubscribtionList = new List<int> { 10, 15, 20 };
    List<string> locationSelections = new List<string> { "North", "South", "East", "West", "NorthEast", "NorthWest", "SouthEast", "SouthWest", "Central" };

    protected async override Task OnInitializedAsync()
    {
        address = await _client.GetFromJsonAsync<List<Address>>($"{Endpoints.AddressesEndpoint}");
        menu = await _client.GetFromJsonAsync<List<Menu>>($"{Endpoints.MenusEndpoint}");
        subscription = await _client.GetFromJsonAsync<List<Subscription>>($"{Endpoints.SubscriptionsEndpoint}");
        operatinghour = await _client.GetFromJsonAsync<List<OperatingHour>>($"{Endpoints.OperatingHoursEndpoint}");
    }

    private async Task CreateRestaurantApplication()
    {
        if (newMenu.ImagePath == null)
        {
            newMenu.ImagePath = "images/noImage.jpg";
        }
        if (restaurantapplication.ImagePath == null)
        {
            restaurantapplication.ImagePath = "images/noImage.jpg";
        }

        HttpResponseMessage responseAddress = await _client.PostAsJsonAsync($"{Endpoints.AddressesEndpoint}", newaddress);

        if (responseAddress.IsSuccessStatusCode)
        {
            // Read the Address object from the response body
            Address createdAddress = await responseAddress.Content.ReadFromJsonAsync<Address>();

            // Use the address object, which should include the ID after the insert
            restaurantapplication.AddressId = createdAddress.Id;

        }

        HttpResponseMessage responseMenu = await _client.PostAsJsonAsync($"{Endpoints.MenusEndpoint}", newMenu);

        if (responseMenu.IsSuccessStatusCode)
        {
            Menu createdMenu = await responseMenu.Content.ReadFromJsonAsync<Menu>();
            restaurantapplication.MenuId = createdMenu.Id;

        }

        HttpResponseMessage responseSubscription = await _client.PostAsJsonAsync($"{Endpoints.SubscriptionsEndpoint}", subscribe);

        if (responseSubscription.IsSuccessStatusCode)
        {
            Subscription createdSubscription = await responseSubscription.Content.ReadFromJsonAsync<Subscription>();
            restaurantapplication.SubscriptionId = createdSubscription.Id;

        }


        monday.Day = "Monday";
        tuesday.Day = "Tuesday";
        wednesday.Day = "Wednesday";
        thursday.Day = "Thursday";
        friday.Day = "Friday";
        saturday.Day = "Saturday";
        sunday.Day = "Sunday";


        HttpResponseMessage responseOperatingHourMonday = await _client.PostAsJsonAsync($"{Endpoints.OperatingHoursEndpoint}", monday);

        if (responseSubscription.IsSuccessStatusCode)
        {
            OperatingHour createdOperatingHour = await responseOperatingHourMonday.Content.ReadFromJsonAsync<OperatingHour>();
            restaurantapplication.OperatingHourId = createdOperatingHour.Id; //bind monday operating hour to RA

        }

        await _client.PostAsJsonAsync($"{Endpoints.OperatingHoursEndpoint}", tuesday);
        await _client.PostAsJsonAsync($"{Endpoints.OperatingHoursEndpoint}", wednesday);
        await _client.PostAsJsonAsync($"{Endpoints.OperatingHoursEndpoint}", thursday);
        await _client.PostAsJsonAsync($"{Endpoints.OperatingHoursEndpoint}", friday);
        await _client.PostAsJsonAsync($"{Endpoints.OperatingHoursEndpoint}", saturday);
        await _client.PostAsJsonAsync($"{Endpoints.OperatingHoursEndpoint}", sunday);

        restaurantapplication.Status = "Active";
        await _client.PostAsJsonAsync($"{Endpoints.RestaurantApplicationsEndpoint}", restaurantapplication);

        _navManager.NavigateTo("/");
    }

    private async Task OnFileChangeForRAImage(InputFileChangeEventArgs e)
    {
        var format = "image/png";
        var resizedImage = await e.File.RequestImageFileAsync(format, 300, 300);
        var buffer = new byte[resizedImage.Size];
        await resizedImage.OpenReadStream().ReadAsync(buffer);
        var imageData = $"data:{format};base64,{Convert.ToBase64String(buffer)}";
        restaurantapplication.ImagePath = imageData;

    }

    private async Task OnFileChangeForMenuImage(InputFileChangeEventArgs e)
    {
        var format = "image/png";
        var resizedImage = await e.File.RequestImageFileAsync(format, 300, 300);
        var buffer = new byte[resizedImage.Size];
        await resizedImage.OpenReadStream().ReadAsync(buffer);
        var imageData = $"data:{format};base64,{Convert.ToBase64String(buffer)}";
        newMenu.ImagePath = imageData;

    }
}


