@page "/restaurantapplication/create"
@inject HttpClient _client
@inject NavigationManager _navManager

<div class="restaurant-form">
    <h2>Tell us more about your restaurant!</h2>
    <EditForm Model="@restaurantapplication" OnValidSubmit="CreateRestaurantApplication">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="mb-3 col-md-6 form-group">
            <label class="white-color">Restaurant Name:</label>
            <div>
                <InputText @bind-Value="@restaurantapplication.RestaurantName" class="form-control" />
                <ValidationMessage For="@(() => restaurantapplication.RestaurantName)" />
            </div>
        </div>
        <div class="mb-3 col-md-6 form-group">
            <label class="white-color">Email: </label>
            <div>
                <InputText @bind-Value="@restaurantapplication.Email" class="form-control" />
                <ValidationMessage For="@(() => restaurantapplication.Email)" />
            </div>
        </div>
        <div class="mb-3 col-md-6 form-group">
            <label class="white-color">Cuisine:</label>
            <div>
                <InputText @bind-Value="@restaurantapplication.Cuisine" class="form-control" />
                <ValidationMessage For="@(() => restaurantapplication.Cuisine)" />
            </div>
        </div>
        <div class="mb-3 col-md-6 form-group">
            <label class="white-color">Phone Number: </label>
            <div>
                <InputNumber @bind-Value="@restaurantapplication.PhoneNumber" class="form-control" />
                <ValidationMessage For="@(() => restaurantapplication.PhoneNumber)" />
            </div>
        </div>
        <div class="mb-3 col-md-6 form-group">
            <label class="white-color">Description:</label>
            <div>
                <InputText @bind-Value="@restaurantapplication.Description" class="form-control" />
                <ValidationMessage For="@(() => restaurantapplication.Description)" />
            </div>
        </div>
    </EditForm>
    <img src="images/form.jpg" />
    <button type="submit" class="btn btn-primary">Submit Application</button>
</div>

@code{
    RestaurantApplication restaurantapplication = new RestaurantApplication();


    private async Task CreateRestaurantApplication()
    {
        await _client.PostAsJsonAsync($"{Endpoints.RestaurantApplicationsEndpoint}", restaurantapplication);
        _navManager.NavigateTo("/");
    }
}


