@page "/review/{id:int}"
@inject HttpClient _client
@inject IJSRuntime js
@inject NavigationManager Navigation
@attribute [Authorize]

@if(res !=null)
{
		<div class="review-head">
			<h1><span class="oi bi bi-envelope-paper-fill"></span> @res.Name</h1>
			<button class="btn btn-primary" @onclick="Rate">Leave a feedback!</button>
		</div>
}
else
{
	<h1>Loading Restaurant...</h1>
}
@if (top3 != null && top3.Count==3)
{
	<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
		<div class="carousel-indicators">
			<button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
			<button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
			<button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
		</div>
		<div class="carousel-inner">
			<div class="carousel-item active">
				<div class="container">
					<div class="col-lg-9">
						<img src="/images/anonymous.png" width="140" height="140">
						<h1>
							@for (int i = 0; i < top3[0].Rating; i++)
							{
								<span class="bi bi-star-fill"></span>
							}
						</h1>
						<p>@top3[0].Description</p>
					</div>
				</div>
			</div>
			<div class="carousel-item">
				<div class="container">
					<div class="col-lg-9">
						<img src="/images/anonymous.png" width="140" height="140">
						<h1>
							@for (int i = 0; i < top3[1].Rating; i++)
							{
								<span class="bi bi-star-fill"></span>
							}
						</h1>
						<p>@top3[1].Description</p>
					</div>
				</div>
			</div>

			<div class="carousel-item">
				<div class="container">
					<div class="col-lg-9">
						<img src="/images/anonymous.png" width="140" height="140">
						<h1>
							@for (int i = 0; i < top3[2].Rating; i++)
							{
								<span class="bi bi-star-fill"></span>
							}
						</h1>
						<p>@top3[2].Description</p>
					</div>
				</div>
			</div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
			<span class="bi bi-arrow-left" aria-hidden="true"></span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
			<span class="bi bi-arrow-right" aria-hidden="true"></span>
		</button>
	</div>
}
else
{
	<h1>Loading Reviews...</h1>
}

@if(!more)
{
	<div class="review-expand"><a @onclick="Toggle"> <span class="oi bi bi-chevron-bar-down"></span> View more</a></div>
}
else
{
	@if(remainingReviews != null)
	{
		foreach (var rev in remainingReviews)
		{
			<div class="review-body">
				<img src="/images/anonymous.png" width="140" height="140">
				<h1>
					@for (int i = 0; i < rev.Rating; i++)
					{
						<span class="bi bi-star-fill"></span>
					}
				</h1>
				<div>@rev.Description</div>
				<small>Created on: @rev.DateTime.ToString("dd MMM yyyy")</small>
			</div>
		}
	}
	<div class="review-expand"><a @onclick="Toggle"><span class="oi bi bi-chevron-bar-up"></span> View less</a></div>
}
@code {
	[Parameter]
	public int id { get; set; }
	private List<Review>? Rev;
	private List<Review>? rev;
	private List<Review>? top3;
	private List<Review>? remainingReviews;
	private Restaurant? res;
	private bool more = false;
	protected override async Task OnInitializedAsync()
	{
		Rev = await _client.GetFromJsonAsync<List<Review>>($"{Endpoints.ReviewsEndpoint}");
		res = await _client.GetFromJsonAsync<Restaurant>($"{Endpoints.RestaurantsEndpoint}/{id}");
		if(Rev != null)
		{
			rev = Rev.Where(q => q.RestaurantId == id).ToList();
			top3 = rev.Take(3).ToList();
			remainingReviews = rev.Skip(3).ToList();
		}
	}

	private void Rate()
	{
		Navigation.NavigateTo($"/reviews/create/{id}");
	}
	private void Edit()
	{
		Navigation.NavigateTo($"/reviews/edit/{id}");
	}

	private void Toggle()
	{
		more = !more;
	}
}
