@page "/staff"
@inject HttpClient _client
@inject IJSRuntime js
@inject NavigationManager _navManager
@layout StaffLayout
@attribute [Authorize]

<section class="home-section">
    <div class="home-content">
        <div class="overview-boxes">
        <div class="box">
            <div class="right-side">
                    <div class="box-topic">Total Restaurants</div>
                    <div class="number">@totalRestaurant</div>

            </div>
            <i class='bx bx-cart-alt cart'></i>
        </div>
        <div class="box">
            <div class="right-side">
                    <div class="box-topic">To Approve</div>
                    <div class="number">@toApprove</div>

            </div>
            <i class='bx bxs-cart-add cart two' ></i>
        </div>
        <div class="box">
            <div class="right-side">
                    <div class="box-topic">Monthly Profit</div>
                    <div class="number">$@monthlyProfit?.ToString("F2")</div>

            </div>
            <i class='bx bx-cart cart three' ></i>
        </div>
        <div class="box">
            <div class="right-side">
                <div class="box-topic">Total Applications</div>
                <div class="number">@totalApplications</div>

            </div>
            <i class='bx bxs-cart-download cart four' ></i>
        </div>
        </div>
        <div class="sales-boxes">
            <div class="recent-sales box">
                <div class="title text-center">Restaurants</div>
                @if (restaurants != null)
                {
                    <table class="table table-responsive table-striped" id="bookingsTable">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Contact</th>
                                <th>Email</th>
                                <th>Status</th>
                                <th>Charts</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var R in restaurants)
                            {
                                <tr>
                                    <td>@R.Name</td>
                                    <td>@R.PhoneNumber</td>
                                    <td>@R.Email</td>
                                    <td>@R.Status</td>
                                    <td>
                                        <a href="/chart/@R.Id" class="bi bi-pencil btn btn-primary"> Charts</a>
                                    </td>

                                </tr>
                            }


                        </tbody>
                    </table>
                }

            </div>
        <div class="top-sales box">
                <div class="text-center title" >Restaurant Application</div>
                @if (restaurantapp != null)
                {
                    <table class="table table-responsive table-striped" id="bookingsTable1">
                        <thead>
                            <tr>
                                <th>Restaurant Name</th>
                                <th>Application Status</th>
                                <th>Approve</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var RA in restaurantapp)
                            {
                                @if (RA.Status == "Pending"){
                                <tr>
                                    <td>@RA?.RestaurantName</td>
                                    <td>@RA?.Status</td>
                                    <td>
                                        <a href="/restaurant/create/@RA.Id" class="bi bi-arrow-bar-right btn btn-primary"> Approve</a>
                                    </td>

                                </tr>
                                }

                            }
                        </tbody>
                    </table>
                }
        </div>
        </div>
    </div>
</section>


@code {
    private List<Restaurant>? restaurants;
    private List<RestaurantApplication>? restaurantapp;
    private List<Subscription>? subscription;

    private int totalRestaurant;
    private double? monthlyProfit;
    private int toApprove;
    private int totalApplications;

    protected async override Task OnInitializedAsync()
    {
        restaurants = await _client.GetFromJsonAsync<List<Restaurant>>($"{Endpoints.RestaurantsEndpoint}");
        restaurantapp = await _client.GetFromJsonAsync<List<RestaurantApplication>>($"{Endpoints.RestaurantApplicationsEndpoint}");
        subscription = await _client.GetFromJsonAsync<List<Subscription>>($"{Endpoints.SubscriptionsEndpoint}");


        totalRestaurant = restaurants.Count;
        toApprove = restaurantapp.Count(q => q.Status == "Pending");

        monthlyProfit = 0.00;

        foreach (var res in restaurants)
        {
            foreach (var sub in subscription)
            {
                if (sub.Id == res.SubscriptionId)
                {
                    monthlyProfit += sub.PlatformFee;
                }
            }

        }


        totalApplications = restaurantapp.Count;

    }


    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        await js.InvokeVoidAsync("AddDataTable", "#bookingsTable");
        await js.InvokeVoidAsync("AddDataTable", "#bookingsTable1");

    }


    public void Dispose()
    {
        js.InvokeVoidAsync("DataTablesDispose", "#bookingsTable");
        js.InvokeVoidAsync("DataTablesDispose", "#bookingsTable1");

    }

}
